<div class="container">

<!--template-file-->
<%= render 'books/left-page', user: @user, book: @book %>

    <div class="col-8 ml-5">
      <h2 class="ml-5">Users</h2>
        <table class="table ml-5">

          <thred>
            <tr>
              <th style="width: 35%">image</th>
              <th style="width: 45%">name</th>
              <th style="width: 20%"></th>
            </tr>
          </thred>

        <tbody>
          <% @users.each do |user| %>
            <tr>
              <td><%= image_tag user.get_profile_image(80,80) %></td>
              <td><%= user.name %></td>
              <td><%= link_to "Show", user_path(user.id) %></td>
            </tr>
          <% end %>
        </tbody>

      </table>
    </div>
  </div>
</div>
