<% if book.errors.any? %>

  <% if book.errors.count >= 2 %>
    <%= book.errors.count %>errors occurred.
    <ul>
      <% book.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
    
  <% else book.errors.count == 1 %>
    <%= book.errors.count %>error occurred.
    <ul>
      <% book.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  <% end %>
<% end %>
